<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>地址添加</title>
    </head>
    <body>
        <h1>添加您的收货地址</h1>
        <form action="{% url 'users:add_address' %}" method="post">
            {% csrf_token %}
            收货人的名称：<input type="text" name="recv_name"><br>
            收货人的电话：<input type="text" name="recv_tel"><br>
            收货人的省份：<input type="text" name="province"><br>
            收货人的城市：<input type="text" name="city"><br>
            收货人的区县：<input type="text" name="area"><br>
            收货人的街道：<input type="text" name="street"><br>
            详细地址：<input type="text" name="desc"><br>
            是否设为默认地址：<input type="checkbox" name="is_default" value="true"><br>
            <input type="submit" value="添加地址">
        </form>
    </body>
</html>