{% extends "base.html" %}
{% block title %}
个人信息
{% endblock %}
{% load static %}
{% block head %}
<link type="text/css" href="{% static 'pc/www/css/myCenter.css' %}"
      rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="wrap  posR mg_t20 mH810 pd_b40">
    <div class="per_left">
        <div class="per_leftbox  pd_t14">
            <ul class="per_leftul">
                <li class="t_c">
                    <a href="Profile.html">

                        <img src="/{{user.users.header}}" alt=""
                             onerror="javascript:this.src='pc/www/img/avatar/head_150.png'"
                             style="width: 150px; height: 150px"/>
                    </a>
                </li>
                <li class="f14 col_fff mg_t10 t_c">{{user.users.mickname}}</li>
            </ul>
        </div>
        <div class="per_leftbox">
            <div class="perleft_menu pdtb_20">
                <ul>
                    <li class=" "><a href="{% url 'myorder:orderlist' %}"><i class="f_r mcMIcon3 inline"></i>我的订单</a></li>
                    <li class=" "><a><i class="f_r mcMIcon4 inline"></i>退款管理</a></li>
                    <!--<li class=" "><a href="/MyCenter/MyIncomeRules.html" ><i class="f_r mcMIcon5 inline"></i>我的收益</a></li>-->
                    <li class="a_check "><a href="{% url 'users:u_message' %}"><i class="f_r mcMIcon8 inline"></i>个人设置</a></li>
                    <li class=" "><a href="{% url 'store:my_store' %}"><i class="f_r mcMIcon8 inline"></i>我的店铺</a></li>
                    <!-- <div class="div_line"></div> -->
                    <!-- <a href="#"><i class="f_r mcMIcon9 inline"></i>设计师主页</a> <a
                        href="#"><i class="f_r mcMIcon10 inline"></i>设计师提现</a> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="per_right_out backg_fff">
        <div class="per_right ">
            <div class="">
                <div class="relative">
                    <h4 class="nTitle">个人设置</h4>
                    <h3 class="per_title">
                        <a class="a_checked" href="{% url 'users:u_message' %}"><span>个人信息</span></a>
                        <a href="{% url 'users:address' %}"><span>管理收货地址</span></a>
                        <a class="bd_r_none" href="{% url 'users:alt_pwd' %}" id="forgetPasswordID"><span>修改密码</span></a>
                    </h3>
                </div>
                <div class="pd10 bd_b_eee">
                    <h4 class="f14 col_666 mg_t20">基本信息</h4>
                    <form method="post" id="submitForm" action="{% url 'users:u_message' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table cellspacing="0" cellpadding="0" border="0"
                               class="per_table th80">
                            <tbody>
                            <tr>
                                <th>账户名：</th>
                                <td id="txtEmail">{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>昵　称：</th>
                                <td><input type="text"
                                           autocomplete="off"
                                           onkeyup="$(this).css('color','#000')"
                                           value="{{user.users.mickname}}" class="inpCom w200"
                                           maxlength="10" name="mickname" id="txtNickname"> <span class="col_b76 inline"
                                                                                                  id="nicknameHint"></span>
                                </td>

                            </tr>
                            <tr>
                                <th>年　龄：</th>
                                <td><input type="text" class="inpCom w200" maxlength="3" name="age" value="{{user.users.age}}" autocomplete="off" onkeyup="this.value=this.value.toString().match(/^\d+(?:\d{0,0})?/)"></td>
                            </tr>
                            <tr>
                                <th>电　话：</th>
                                <td><input type="text" class="inpCom w200" maxlength="11" name="phone" value="{{user.users.phone}}" autocomplete="off" onkeyup="this.value=this.value.toString().match(/^\d+(?:\d{0,0})?/)"></td>
                            </tr>
                            <tr>
                                <th>邮　箱：</th>
                                <td><input type="email" class="inpCom w200" name="email" value="{{user.email}}" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <th>性　别：</th>
                                <td class="J_gender_select">
                                    {{user.users.gender}}
                                    {% if user.users.gender == '男' %}
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="保密">保密&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" checked value="男">男&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="女">女
                                    {% elif user.users.gender == '女' %}
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="保密">保密&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="男">男&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" checked value="女">女
                                    {% else %}
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" checked value="保密">保密&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="男">男&nbsp;&nbsp;
                                    <input class="col_666 cursor mg_r10 radioIcon inline" type="radio" name="gender" value="女">女
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="per_upfileImgBox clearfix">
                            <h4 class="f14 col_666 mg_b30">头像设置</h4>
                            <div class="bigImgArea posR">
                                <ul class="upBtn_tip">
                                    <li>
                                        <a href="javascript:void(0)"
                                               class="inline  relative upLoading_btn">
                                                <span class="">上传头像</span> <input type="file" name="header"
                                                                                  class="J_uploadfile_btn fileInput upbox1"
                                                                                  id="ff">
                                            </a>

                                        <iframe width="0" height="0" frameborder="0" name="uploadfile"
                                                id="uploadfile" src="" scrolling="no" style="display: none;"></iframe>
                                    </li>
                                    <li>仅支持JPG，GIF，PNG，且文件小于2M</li>
                                </ul>
                            </div>
                            <div class="showImgArea clearfix">
                                <p class="per_imgp  clearfix">你上传的图片自动生成三种尺寸，请注意大中小尺寸的头像是否清晰</p>
                                <dl class="clearfix">
                                    <dt>
                                        <div class="bigimg">
                                            <img width="150" height="150"
                                                 onerror="javascript:this.src='pc/www/img/avatar/head_150.png'"
                                                 src="{% static 'pc/www/img/avatar/head_150.png' %}">
                                        </div>
                                        <p class="per_imgp">大尺寸头像 150*150像素</p>
                                    </dt>
                                    <dd class="mb_20">
                                        <div class="middleimg">
                                            <img width="60" height="60"
                                                 onerror="javascript:this.src='pc/www/img/avatar/head_150.png'"
                                                 src="{% static 'pc/www/img/avatar/head_150.png' %}">
                                        </div>
                                        <p class="per_imgp">中尺寸头像 60*60像素</p>
                                    </dd>
                                    <dd>
                                        <div class="smallimg">
                                            <img width="32" height="32"
                                                 onerror="javascript:this.src='pc/www/img/avatar/head_150.png'"
                                                 src="{% static 'pc/www/img/avatar/head_150.png' %}">
                                        </div>
                                        <p class="per_imgp">小尺寸头像 32*32像素</p>
                                    </dd>
                                </dl>

                            </div>

                        </div>
                        <p class="per_imgp clearfix mg_l40">
                            <input type="submit" class="btnCom1 btnComS btnBg2 btnH1 w80 inline J_save">

                        </p>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $("#txtNickname").blur(function () {
            $("#nicknameHint").text("");
            if ($.trim($(this).val()) == '') {
                $("#nicknameHint").text("昵称不能为空!");
            }
        });
    });
</script>

{% endblock %}