{% extends "base.html" %}
{% block title %}
个人信息
{% endblock %}
{% load static %}
{% block head %}
<link type="text/css" href="{% static 'pc/www/css/myCenter.css' %}"
      rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="wrap  posR mg_t20 mH810 pd_b40">
    <div class="per_left">
        <div class="per_leftbox  pd_t14">
            <ul class="per_leftul">
                <li class="t_c">
                    <a href="Profile.html">

                        <img src="/{{user.users.header}}" alt=""
                             onerror="javascript:this.src='pc/www/img/avatar/head_150.png'"
                             style="width: 150px; height: 150px"/>
                    </a>
                </li>
                <li class="f14 col_fff mg_t10 t_c">{{user.users.mickname}}</li>
            </ul>
        </div>
        <div class="per_leftbox">
            <div class="perleft_menu pdtb_20">
                <ul>
                    <li class=" "><a href="{% url 'myorder:orderlist' %}"><i class="f_r mcMIcon3 inline"></i>我的订单</a></li>
                    <li class=" "><a><i class="f_r mcMIcon4 inline"></i>退款管理</a></li>
                    <!--<li class=" "><a href="/MyCenter/MyIncomeRules.html" ><i class="f_r mcMIcon5 inline"></i>我的收益</a></li>-->
                    <li class=" "><a href="{% url 'users:u_message' %}"><i class="f_r mcMIcon8 inline"></i>个人设置</a></li>
                    <li class="a_check "><a href="{% url 'store:my_store' %}"><i class="f_r mcMIcon8 inline"></i>我的店铺</a></li>
                    <!-- <div class="div_line"></div> -->
                    <!-- <a href="#"><i class="f_r mcMIcon9 inline"></i>设计师主页</a> <a
                        href="#"><i class="f_r mcMIcon10 inline"></i>设计师提现</a> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="per_right_out backg_fff">
        <div class="per_right ">
            <div class="">
                <div class="relative">
                    <h4 class="nTitle">店铺管理</h4>
                    <h3 class="per_title">
                        <a class="" href="{% url 'store:on_store' %}"><span>注册店铺</span></a>
                        <a class="a_checked" href="{% url 'store:my_store' %}"><span>我的店铺</span></a>
                    </h3>
                </div>
                <div class="pd10 bd_b_eee">
                    <h4 class="f14 col_666 mg_t20">我的店铺</h4>

                    {% if stores %}

                    <table border="0" cellspacing="0" cellpadding="0" class="perTableTitle1">
                    <tbody>
                    <tr>

                        <td width="10%"><span class="inline">店铺名</span></td>
                        <td width="15%"><span class="inline">注册时间</span></td>
                        <td width="8%"><span class="inline">店铺状态</span></td>
                        <td width="30%"><span class="inline">店铺描述</span></td>
                        <td width="10%"><span class="inline">上架商品</span></td>
                        <td width="5%"><span class="inline">on/off</span></td>
                        <td width="10%"><span class="inline">操作</span></td>
                        <td width="7%"><span class="inline">商品数</span></td>
                        <td width="10%"><span class="inline">查看商品</span></td>
                    </tr>
                    </tbody>
                    </table>
                    <table border="0" cellspacing="1" cellpadding="0" class="J_table per_list1  bg_fff">
                        <tbody>
                        {% for i in stores %}
                        <tr data-addressid="476683">
                            <td width="10%" class="J_td2"><a href="{% url 'store:details_store' i.id %}">{{i.name|truncatechars:10}}</a></td>
                            <td width="15%" class="J_td3">{{i.opener_time}}</td>
                            <td width="5%" align="left" class="J_td2">{{i.status}}</td>
                            <td width="30%" class="J_td2">{{i.intro|truncatechars:25}}</td>
                            <td width="10%" class="J_td2"><a href="{% url 'goods:add_goods' i.id %}">上架商品</a></td>
                            <td width="5%" class="J_td2">
                                {% if i.status %}
                                <a href="{% url 'store:on_off' i.id %}">关店</a>
                                {% else %}
                                <a href="{% url 'store:on_off' i.id %}">开店</a>
                                {% endif %}
                            </td>

                            <td width="10%"><a href="{% url 'store:alt_store' i.id %}" class="J_edit col_link">修改</a> / <a href="{% url 'store:del_store' i.id %}" onclick="return window.confirm('你确定要删除吗？')">删除</a></td>
                            <td width="5%">{{i.goods_set.all|length}}</td>
                            <td width="5%" class="J_td2"><a href="{% url 'goods:look_goods' i.id %}">查看</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1>没有店铺，<a href="{% url 'store:on_store' %}">点击开店</a></h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $("#txtNickname").blur(function () {
            $("#nicknameHint").text("");
            if ($.trim($(this).val()) == '') {
                $("#nicknameHint").text("昵称不能为空!");
            }
        });
    });
</script>

{% endblock %}