<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>查看自己的所有店铺</title>
    </head>
    <body>
        <h1>查看自己的所有店铺</h1>
        <table border="1">
            {% for store in stores %}
            <tr>
                <td>店铺封面</td>
                <td><img src="/{{store.cover}}" alt="" style="height: 270px;width: 270px;"></td>
                <td>店铺名称</td>
                <td>{{store.name}}</td>
                <td>店铺描述</td>
                <td>{{store.intro}}</td>
                 <td><a href="{% url 'store:detail' store.id %}">查询详情</a></td>
            </tr>
            {% empty%}
            <tr>
                <td>您还没有店铺，赶紧去 <a href="{% url 'store:add' %}">开店</a>吧</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

