<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>修改店铺</title>
    </head>
    <body>
        <h1>修改店铺</h1>
        <form action="{% url 'store:update' store.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            店铺名称：<input type="text" name="name" value="{{store.name}}"><br>
            店铺封面：<input type="file" name="cover" id="cover"><br>
            店铺描述：
            <textarea name="intro" id="" cols="30" rows="10">{{store.intro}}</textarea><br>
            <input type="submit" value="修改店铺">
        </form>
    </body>
</html>